# Директории сборки
/build/
/out/
# Файлы конфигурации IDE
/.idea/
*.iml
.vscode/
# Файлы операционных систем
.DS_Store Thumbs.db
# Файлы зависимостей
/.gradle/
/target/
# Локальные конфигурации
*.local
# Логи
*.log
# Временные файлы кеша
.cache/
# Директории для проверки и деплоя
/bin/
# Скомпилированные байт-коды
*.class